<div class="headerClass">
<input  routerLink="/admin/pessoas" type="button" value="Listagem de Pessoas" class="btn btn-success">
<br>
<input routerLink="/admin/pessoas/novo" type="button" value="Adicionar Pessoa" class="btn btn-light">
<br>
<input routerLink="/admin/livros" type="button" value="L. de Livros" class="btn btn-success">
<br>
<input routerLink="/admin/livros/novo" type="button" value="Adicionar Livro" class="btn btn-light">
<br>
<input routerLink="/admin/carros" type="button" value="L. de Carros" class="btn btn-success">
<br>
<input routerLink="/admin/carros/novo" type="button" value="Adicionar Carro" class="btn btn-light">
<br>
<input routerLink="/login" type="button" value="Sair" class="btn btn-info">
</div>
