<input type="button" value="Novo Carro" class="btn btn-dark" (click)="adicionar(abc)">
<br>
<br>

<table class="table table-striped">
    <thead>
        <th scope="col">#ID</th>
        <th scope="col">Nome:</th>
        <th scope="col">Ano:</th>
        <th scope="col">Ações:</th>         
    </thead>
    <tbody>
        <tr class="baixoCarro" *ngFor = "let carros of listaCarros; let i = index">
            <th scope="row">{{ carros.id }}</th>
            <th>{{carros.nome}}</th>
            <th>{{carros.ano}}</th>
            <th colspan="4">
                <input type="button" value="Editar" class="btn btn-warning"  (click)="editar(abc, carros, i)">
                    </th>
                    <th colspan="4">
                <input type="button" value="Excluir" class="btn btn-danger" >
                    </th>
        </tr>
    </tbody>
</table>

<ng-template #abc let-modal>
	<div class="modal-header">
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-carrosdetails [carro]= "carroSelecionadoParaEdicao" (retorno)="addOuEditarCarro($event)" ></app-carrosdetails>
            
	</div>
	<div class="modal-footer">
	</div>
</ng-template>