.footerClass{
    background-color:#311459;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 3rem;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 20px;
}