<input type="button" value="Novo Livro" class="btn btn-dark" (click)="adicionar(abc)">
<br>
<br>

<table class="table table-striped">
    <thead>
        <th scope="col">#ID</th>
        <th scope="col">Autor:</th>
        <th scope="col">Titulo do Livro:</th>
        <th scope="col">Ações:</th>  
    </thead>
    <tbody>
        <tr class="baixoLivro" *ngFor = "let Livros of listaLivros; let i = index">
            <th>{{Livros.id}}</th>
            <th>{{Livros.autor}}</th>
            <th>{{Livros.titulo}}</th>
            <th colspan="4">
                <input type="button" value="Editar" class="btn btn-warning"  (click)="editar(abc, Livros, i)">
            </th>
           <th colspan="4">
                <input type="button" value="Excluir" class="btn btn-danger" (click)="excluir(Livros.id)">
            </th>
        </tr>
    </tbody>
</table>

<ng-template #abc let-modal>
	<div class="modal-header">
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-livrosdetails [livro]="livroSelecionadoParaEdicao" (retorno)="addOuEditarLivros($event)" ></app-livrosdetails>
            
	</div>
	<div class="modal-footer">
	</div>
</ng-template>